/*@media (max-width: 960px) {
   
    .container {
      width: 700px;
    }
}

@media (max-width: 720px) {
    
    .container {
      width: 500px;
      background-color: red;
    }
}

@media (max-width: 540px) {
   
    .container {
      width: 300px;
    }
}*/

body {
    background-color: white;
    font-family: 'Open sans', sans-serif;
    
    color: #204051;
    font-size: 18px;
    line-height: 1.6;
}

.container {
    text-align: center;
    width: 1000px;   
    margin: 0 auto; 
    border-radius: 1%;
    background-color: white;
    padding: 50px;
}


h1 ,h2, h3 {
    color: #204051;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    line-height: normal;
}

a {
    color: #3b6978;
    text-decoration: none;
}

img {
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

a:hover {
    color: #84a9ac;
}

ul {
    list-style-type: none;
}

.card {
    background-color: #f6f6f6;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    
}

.card-header {
    padding: 20px;
    background-color: #adcae6;
    border-radius: 25px;
    margin: 10px;
}

.card-img {
    padding: 50px;
    background-color: #bde0eb ;
    border-radius: 25px;
    margin: 10px;
}

.card-content {
    padding: 50px;
    background-color:  #FFFEF2; 
    border-radius: 25px;
    margin: 10px;
    font-size: 25px;
}

img {
    position: absolute;
    top: 180px;
    left: 475px;
}

.card-button {
    padding: 25px;
    text-align: center;
} 
.card-button ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
}

.card-button ul li hr{
    
    width: 200px;
    border-width: 10px, solid;
    color: #90ee90;
}

.card-footer {
    justify-content: center;
    display: flex;
}

.card-footer ul {
    list-style-type: none;
}

.card-footer ul li {
    padding: 5px;
    text-align: left;
}

.card-footer ul li a i {
    margin-right: 20px;
    font-size: 30px;
}

.button {
    border-radius: 25px;
    padding: 10px;
    background-color: #90ee90;
}